<div class="form-container">
    <form action="/users/api/signup" method="post">
        <h3 class="text-center">Sign Up</h3>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
            <p class="error-message" id="username-error">{{error.username}}</p>
        </div>
        <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
            <p class="error-message" id="name-error">{{error.name}}</p>
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control" id="dob" name="dob" required>
            <p class="error-message" id="dob-error">{{error.dob}}</p>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" required>
            <p class="error-message" id="email-error">{{error.email}}</p>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <p class="error-message" id="password-error">{{error.password}}</p>
        </div>
        <div class="form-group">
            <label for="repassword">Confirm Password</label>
            <input type="password" class="form-control" id="repassword" name="repassword" required>
            <p class="error-message" id="repassword-error">{{error.repassword}}</p>
        </div>
        <p>Already have an account ? <a href="/users/signin">Sign in!!!</a></p>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mt-3 ">Sign Up</button>
        </div>

    </form>
</div>